body {
    margin: 0;
    padding: 0;
    background-color: #333;
}
#editor {
    position: absolute;
    top: 40px;
    bottom: 0;
    /*width: 550px;*/
    left: 800px;
    right: 0;
}

table {
    color: #fff;
    position: absolute;
    width: 100%;
    display: block;
}

#run {
    position: absolute;
    top:0;
}