body {
    margin: 0;
    padding: 0;
    background-color: #333;
}

/*#editor {*/
    /*display: block;*/
    /*position: absolute;*/
    /*left:820px;*/
    /*color:#fff;*/
/*}*/

#editor {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 870px;
    right: 0;
}