body {
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 100%;
}
#editor {
    position: absolute;
    top: 55px;
    bottom: 0;
    /*width: 550px;*/
    left: 840px;
    right: 0;
    height: 798px;
}

table {
    color: #fff;
    position: absolute;
    width: 100%;
    display: block;
}

#run {
    position: absolute;
    top:0;
}

#mainblock {
    min-width: 1349px;
    width: 100%;
    margin-top: 55px;
}
.game-field {
    width: 800px;
    float: left;
    height: 800px;
    background: #aaa;
}

#footer-panel {
    width:100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    border:1px solid #101010;
    background: #222;
    z-index: 1000;
}
#footer-panel button {
    margin: 10px 10px 0 0;
}